<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>familyName</key>
    <string>Besley*</string>
    <key>styleName</key>
    <string>Italic</string>
    <key>styleMapFamilyName</key>
    <string>Besley* Book Italic</string>
    <key>styleMapStyleName</key>
    <string>italic</string>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>1</integer>
    <key>copyright</key>
    <string>Copyright (c) 2017, Owen Earl,,, (EwonRael@yahoo.com)</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>capHeight</key>
    <integer>700</integer>
    <key>xHeight</key>
    <integer>460</integer>
    <key>ascender</key>
    <integer>1600</integer>
    <key>descender</key>
    <integer>-400</integer>
    <key>italicAngle</key>
    <real>-13</real>
    <key>note</key>
    <string>2016-4-15: Created with FontForge (http://fontforge.org)</string>
    <key>openTypeHeadCreated</key>
    <string>2016/04/15 23:15:50</string>
    <key>openTypeHheaAscender</key>
    <integer>1800</integer>
    <key>openTypeHheaDescender</key>
    <integer>-400</integer>
    <key>openTypeHheaLineGap</key>
    <integer>200</integer>
    <key>openTypeNameLicense</key>
    <string>Copyright (c) 2017, Owen Earl,,, (EwonRael@yahoo.com),
with Reserved Font Name Besley*.</string>
    <key>openTypeNameVersion</key>
    <string>Version 1.001</string>
    <key>openTypeNamePreferredFamilyName</key>
    <string>Besley*</string>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2VendorID</key>
    <string>PfEd</string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>4</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1600</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-400</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>200</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1800</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>600</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
    </array>
    <key>postscriptFontName</key>
    <string>Besley-Italic</string>
    <key>postscriptFullName</key>
    <string>Besley* Book Italic</string>
    <key>postscriptWeightName</key>
    <string>Book</string>
    <key>postscriptUnderlineThickness</key>
    <integer>100</integer>
    <key>postscriptUnderlinePosition</key>
    <integer>-200</integer>
    <key>guidelines</key>
    <array>
      <dict>
        <key>x</key>
        <real>1000</real>
        <key>y</key>
        <real>-300</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>1000</real>
        <key>y</key>
        <real>1120</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>1000</real>
        <key>y</key>
        <real>-500</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>1000</real>
        <key>y</key>
        <real>1040</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>1000</real>
        <key>y</key>
        <real>-20</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>1018</real>
        <key>y</key>
        <real>1500</real>
        <key>angle</key>
        <real>0</real>
      </dict>
    </array>
  </dict>
</plist>
